

.main-menu {
	background-color: #2ABB9B !important;
	color: #fff !important;
	text-align: center;
}

.dash-numb{
	font-size: 25pt !important;
	text-align: center !important;
}

.dash-text{
	text-transform: capitalize !important;
}

.carousel-indicators 

.active{ background: #31708f; } 
.adjust1{ float:left; width:95%; margin-bottom:0; } 
.adjust2{ margin:0; padding-left: 35px; text-align: justify; } 
.carousel-indicators li{ border :1px solid #ccc; } .carousel-control{ color:#31708f; width:5%; } .carousel-control:hover, .carousel-control:focus{ color:#31708f; } .carousel-control.left, .carousel-control.right { background-image: none; } .media-object{ margin:auto; margin-top:15%; } @media screen and (max-width: 768px) { .media-object{ margin-top:0; } }
.ind{ bottom: -18px !important; }

.bott-bar{
  position:relative !important;
  width:100% !important;
  /*margin-bottom:15px !important;*/
  /*min-height:58px !important;*/
}
.pos-bar{
  position: relative !important;
}
.content-bar{
  /*padding:5px 0;*/
  width:20%;
  float:left;
  color:#000;
}
.group-bot-bar{
  height:48px;
  position:relative;
  text-align:center;
  padding-top: 5px;
}
.content-bar:hover{
  color: #20A8D8;
}

.content-bar.active{
  color: #20A8D8;
}
.icon-bot-bar{
  font-size: 30px; 
  text-align: center;
  
  position: relative;
}

.text-bot-bar{
  margin-top:-5px;
  font-size:11px;
  text-align:center;
}

.Table
{
display: table;
}
.Title
{
display: table-caption;
text-align: center;
font-weight: bold;
font-size: larger;
}
.Heading
{
display: table-row;
font-weight: bold;
text-align: center;
}
.Row
{
display: table-row;
}
.Cell
{
display: table-cell;
border: solid;
border-width: thin;
padding-left: 5px;
padding-right: 5px;
}
.iszero
{
  background-color: #f5f5f5!important;
}

.dataTables_length {
  display: inline;
  margin-right: 1rem;
}
.dataTables_length label{
  margin-top:1rem;
}
.dataTables_filter {
  display: inline;
  float: right;
  margin-top:1rem;
}
.dt-buttons {
  display: inline;
  margin-right: 1rem;
  margin-top: 1rem;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64
}

.btn-check:focus+.btn-secondary,.btn-secondary:focus {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
  box-shadow: 0 0 0 .25rem rgba(130,138,145,.5)
}

.btn-check:active+.btn-secondary,.btn-check:checked+.btn-secondary,.btn-secondary.active,.btn-secondary:active,.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #565e64;
  border-color: #51585e
}

.btn-check:active+.btn-secondary:focus,.btn-check:checked+.btn-secondary:focus,.btn-secondary.active:focus,.btn-secondary:active:focus,.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem rgba(130,138,145,.5)
}

.btn-secondary.disabled,.btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}

.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754
}

.btn-success:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43
}

.btn-check:focus+.btn-success,.btn-success:focus {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
  box-shadow: 0 0 0 .25rem rgba(60,153,110,.5)
}

.btn-check:active+.btn-success,.btn-check:checked+.btn-success,.btn-success.active,.btn-success:active,.show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #146c43;
  border-color: #13653f
}

.btn-check:active+.btn-success:focus,.btn-check:checked+.btn-success:focus,.btn-success.active:focus,.btn-success:active:focus,.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem rgba(60,153,110,.5)
}

.btn-success.disabled,.btn-success:disabled {
  color: #fff;
  background-color: #198754;
  border-color: #198754
}
.custom-select {
  height: 34px;
  border-color: #d2d6de;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
